<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"
                             color="primary">
            </ion-back-button>
        </ion-buttons>

        <ion-title color="primary">Segments</ion-title>
    </ion-toolbar>

    <ion-segment value="todos"
                 (ionChange)="segmentChanged($event)">
        <ion-segment-button value="todos">
            <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="DC Comics">
            <ion-label>DC comics</ion-label>
        </ion-segment-button>

        <ion-segment-button value="Marvel Comics">
            <ion-label>Marvel comics</ion-label>
        </ion-segment-button>
    </ion-segment>

</ion-header>
<ion-content>

    <ion-list>

        <ion-item *ngFor="let hero of (superHeros | async) | filter : segmentSelected : 'publisher'">
            <ion-label>
                <h3>{{hero.superhero}} <small>{{hero.alter_ego}}</small></h3>
                <p>{{hero.first_appearance}}</p>

            </ion-label>

            <ion-label slot="end"
                       class="ion-text-right">{{hero.publisher}}
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>