<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            PushApp
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="deleteMessages()">
                <ion-icon slot="start"
                          name="trash">
                </ion-icon>
            </ion-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-list-header>
            <ion-label>UserID</ion-label>
        </ion-list-header>

        <ion-list-header>
            <ion-label>{{push.userId}}</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let push of messages">
            <ion-label>
                <h3>{{push.title}}</h3>
                <p>{{push.body}}</p>
                <p>{{push.additionalData| json}}</p>
            </ion-label>
        </ion-item>

    </ion-list>

</ion-content>
