<app-header [title]="'Fab'"></app-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let item of data; let i=index">
            <ion-label>Item {{ i + 1 }}</ion-label>
        </ion-item>
    </ion-list>

    <!-- fab placed to the top end -->
    <ion-fab vertical="top"
             horizontal="end"
             slot="fixed">
        <ion-fab-button [color]="'youtube'">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="center"
             horizontal="center"
             slot="fixed">
        <ion-fab-button>
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button [color]="'vimeo'">
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <ion-fab-button [color]="'facebook'">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button [color]="'github'">
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
            <ion-fab-button [color]="'twitter'">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>


</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>Footer</ion-title>
    </ion-toolbar>
</ion-footer>