<app-header [title]="'DateTime'"></app-header>
<ion-content>

    <ion-list>

        <ion-list-header>
            <ion-label>Datos de nacimiento</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>

            <ion-datetime [value]="date.toISOString()"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Custom options</ion-label>
            <ion-datetime [pickerOptions]="customPickerOptions"></ion-datetime>
        </ion-item>

    </ion-list>

</ion-content>