<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="logout()"
                        color="danger">
                <ion-icon slot="icon-only"
                          name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>

    <div fxLayout="column"
         fxLayoutAlign="center center">

        <ion-row class="top-20">

            <ion-col size="12"
                     class="ion-text-center">
                <img [src]="'assets/avatars/'+user.avatar"
                     class="img-avatar">
            </ion-col>

        </ion-row>

        <ion-row class="top-20">
            <ion-col size="12"
                     class="ion-text-center">
                <ion-label>
                    <h1>Actualizar perfil</h1>
                </ion-label>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <h3>Seleccione Avatar</h3>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-slides [options]="avatarSlide">
                    <ion-slide *ngFor="let avatar of avatars">
                        <ion-img class="pick-avatar"
                                 src="/assets/avatars/{{avatar.img}}"
                                 [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}"
                                 (click)="selectAvatar(avatar)"></ion-img>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>

        <form [formGroup]="userForm"
              (ngSubmit)="updateUser()">
            <ion-row>
                <ion-col>

                    <ion-list>

                        <ion-item>
                            <ion-label>Email</ion-label>
                            <ion-input name="email"
                                       type="email"
                                       formControlName="email"
                                       required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label>Nombre</ion-label>
                            <ion-input name="nombre"
                                       type="text"
                                       formControlName="name"
                                       required></ion-input>
                        </ion-item>


                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round">
                        Actualizar
                    </ion-button>
                </ion-col>
            </ion-row>

        </form>
    </div>


</ion-content>