<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Headers
        </ion-title>
    </ion-toolbar>

    <ion-segment scrollable
                 mode="md"
                 colo="primary">
        <ion-segment-button [value]="cat"
                            mode="md"
                            *ngFor="let cat of categories">
            <ion-label class="ion-text-capitalize">{{cat}}</ion-label>
        </ion-segment-button>

    </ion-segment>


</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>